body {
  background: #610DE3; /* Dark background */
  font-family: Arial, sans-serif;
  width: 355px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  background-color: #610DE3; /* Primary Dark Purple */
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
}

#title {
  padding: 10px;
  font-size: 24px;
  color: #fff;
}

.summary {
  padding-top: 10px;
  text-align: justify;
  height: auto;
  width: 100%;
  margin-top: 75px;
  background-color: #FFE2E2; /* Darker Purple */
  padding: 20px;
  border: 5px; /* Darkest Purple */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#error {
  color: #FF5733; /* Coral */
  font-weight: bold;
}

.progress {
  position: relative;
  width: 320px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

#rating {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
}

.barOverflow {
  position: relative;
  width: 320px;
  height: 160px;
  overflow: hidden;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-sizing: border-box;
  border-width: 40px;
  border-style: solid;
  border-color: #1E0A26; /* Darkest Purple */
}

#summery {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}

.flex-container {
  height: auto;
  background-color: #FF5959;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px; /* Darker Purple */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputfield {
  padding: 10px;
  width: 83%;
  height: auto;
  border-radius: 30px;
  background: #ffffff; /* Darkest Purple */
  opacity: 80%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #9043ff; /* Darker Purple */
  padding: 5px;
  border: 5px; /* Primary Dark Purple */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the button */
#sendButton {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

#sendButton img {
  width: 35px;
  height: 35px;
}

/* Chat Container */
.container {
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

/* Response Container */
.response {
  margin-bottom: 65px;
  align-self: flex-start;
  padding: 10px;
  text-align: left;
  width: auto;
  background-color: #FFE2E2;
  border: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input Container */
.input {
  align-self: flex-end;
  padding: 10px;
  text-align: right;
  width: auto;
  background-color: #FF5959;
  border-radius: 15px;
  border: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Skeleton Loading Styles */
.skeleton-loading {
  width: 100%;
  height: 45px; /* Adjust the height to match your design */
  background: linear-gradient(90deg, #610DE3 25%, #c4b9d6 50%, #610DE3 75%); /* Match the title background color */
  background-size: 200% 100%;
  animation: loading 2s infinite;
  margin-top: 10px; /* Adjust this margin to create space between the title and loading effect */
  color: transparent; /* Hide any text content during loading */
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

