body {
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* Text color */
  font-family: Arial, sans-serif; /* Choose an appropriate font-family */
  width: 355px;
  height: 600px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden;
}

/* Apply styles to the title */
.title {
  text-align: center;
  margin-bottom: 10px;
  background-color: #a300cc; /* A user-friendly blue color */
  height: auto; /* Adjust the height as needed */
  width: 100%; /* Make it full-width */
  position: fixed; /* Fix it at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  color: #fff; /* Text color */
}

#title {
  font-size: 24px;
  color: #fff; /* Text color */
}

/* Apply styles to the summary */
.summary {
  text-align: justify;
  height: auto; /* Adjust the height as needed */
  margin-top: 75px; /* Adjust the margin-top for spacing */
  background-color: #333; /* Dark background color */
  padding: 20px;
  border: 1px solid #444; /* Darker border color */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#status {
  color: #4CAF50; /* Green */
  font-weight: bold;
}

#error {
  color: #FF5733; /* Red-Orange */
  font-weight: bold;
}

.progress {
  position: relative;
  width: 320px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

#rating {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff; /* Text color */
}

.barOverflow {
  position: relative;
  width: 320px;
  height: 160px;
  overflow: hidden;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-sizing: border-box;
  border-width: 40px; /* Set the border width */
  border-style: solid; /* Set the border style to solid */
  border-color: #6a546d; /* Initially, set the border color to transparent */
}

/* Apply styles to the summary content */
#summery {
  font-size: 16px;
  color: #ccc; /* Light gray text color */
  line-height: 1.5;
}

.flex-container {
  height: auto;
  background-color: #444; /* Darker background color */
  padding: 10px;
  border: 1px solid #555; /* Darker border color */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* input  */
.inputfield {
  padding: 10px;
  width: 70%;
  border-radius: 30px;
  background: #3f263f;
  opacity: 80%;  
}

.input-container {
  height: auto;
  background-color: #444;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0; /* This will fix it at the bottom */
  width: 100%; /* To make it span the entire width */
}
